<div class="container">
  <h2>Add Privilege</h2>

  <form (ngSubmit)="onSubmit()" class="add-privilege-form">
    <!-- Privilege Title Section -->
    <div class="form-group">
      <label for="privilegeTitle">Privilege Title</label>
      <input type="text" id="privilegeTitle" [(ngModel)]="privilegeTitle" name="privilegeTitle" required />
    </div>

    <!-- Privilege Selection Section -->
   
     

    <!-- Action Buttons -->
    <div class="buttons">
      <button type="submit" class="save-btn">
        <i class="fa-solid fa-save"></i> save
      </button>
      <button type="button" class="cancel-btn" (click)="onCancel()">
        <i class="fa-solid fa-xmark"></i> Cancel
      </button>
    </div>
  </form>
</div>
