<div class="container">
  <p><u>Add User</u></p>

  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Id</label>
      <input type="email" formControlName="email" placeholder="Enter email">
      <div *ngIf="email?.invalid && email?.touched" class="error">Enter a valid Id.</div>
    </div>

    <div class="form-group">
      <label for="roles">Roles</label>
      <input type="text" formControlName="roles" placeholder="Enter roles">
      <div *ngIf="roles?.invalid && roles?.touched" class="error">Roles are required.</div>
    </div>

    <div class="form-group">
      <label for="userPrivilege">Privilege</label>
      <select id="userPrivilege" formControlName="privilege" required>
        <option value="Full Access">Full Access</option>
        <option value="Limited Access">Limited Access</option>
        <option value="User">User</option>
        <option value="Admin">Admin</option>
      </select>
      <div *ngIf="privilege?.invalid && privilege?.touched" class="error">Privilege is required.</div>
    </div>

    <button class="save-btn" [disabled]="addUserForm.invalid">
      <i class="bi bi-save2"></i> Save
    </button>
  </form>
</div>
