<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-sm rounded-4" style="width: 350px;">
      <h5 class="text-center fw-bold mb-3">Forgot Password</h5>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 position-relative">
          <label class="form-label">Email ID</label>
          <div class="input-group">
            <input type="email" class="form-control" formControlName="email" placeholder="Enter your email">
            <span class="input-group-text"><i class="bi bi-person"></i></span>
          </div>
          <div *ngIf="email.invalid && email.touched" class="text-danger small">
            Valid email is required.
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-link text-secondary">Cancel</button>
          <button type="submit" class="btn btn-orange" [disabled]="forgotPasswordForm.invalid">Forgot Password?</button>
        </div>
      </form>
      <p>
        <a (click)="goToLogin()" style="cursor: pointer; text-decoration: underline;">Back to Login</a>
      </p>
    </div>
  </div>
  