<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="top-container">
  <button class="refresh-btn" >
    <i class="material-icons custom-icon">refresh</i> Refresh
  </button>

  <div class="search-bar">
    <input type="text" placeholder="Item ID/Cart ID/Order ID">
    <button class="search-btn">
      <i class="material-icons custom-icon">search</i>
    </button>
  </div>

  <div class="icon-group">
    <div class="icon-circle"><i class="material-icons custom-icon">mark_unread_chat_alt</i></div>
    <div class="icon-circle"><i class="material-icons custom-icon">notifications</i></div>
    <div class="icon-circle"><i class="material-icons custom-icon">settings</i></div>
  </div>
</div>
<app-sidenav></app-sidenav>


<router-outlet></router-outlet>
