<button class="add-new" (click)="goToAddCategory()">
  <i class="material-icons custom-icon">add</i>
  Add New
</button>

<div class="contain">
  <h2 class="fw-semibold" style="font-size: 18px;">Category List</h2>

  <div class="row mb-3">
    <div class="col-md-4 mb-2 ">
      <input
        type="text"
        class="form-control"
        placeholder="Search by Title"
        [(ngModel)]="searchTitle"
        (ngModelChange)="filterCategories()" /> 
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover align-middle rounded-lg overflow-hidden">
      <thead class="bg-dark text-white">
        <tr>
          <th>
            <input
              type="checkbox"
              (change)="selectAll($event)"
              class="form-check-input"
            />
          </th>
          <th>Title</th>
          <th>Category Type</th>
          <th>Product Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
     
        <tr *ngFor="let category of filteredCategories">
          <td><input type="checkbox" [(ngModel)]="category.selected" class="form-check-input" /></td>
          <td>{{ category.categoryTitle }}</td>
          <td>{{ category.categoryType }}</td>
          <td>{{ category.productType }}</td>
          <td>
            <button
              class="btn btn-sm me-1 rounded"
              (click)="editCategory(category)"
            >
              <i class="material-icons custom-icon">edit</i>
            </button>

            <button
              class="btn btn-sm rounded"
              (click)="deleteCategory(category)"
            >
              <i class="material-icons custom-icon delete-icon">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>