<div class="profile-container">
    <div class="profile-card" *ngIf="user; else noUser">
        <div class="profile-header">
            <img *ngIf="user.image" [src]="user.image" alt="Profile Image" class="profile-img"/>
            <img *ngIf="!user.image" src="assets/login/admin.png" alt="Default Profile Image" class="profile-img"/>
            <h2 class="user-name">{{ user.name }}</h2>
            <p class="user-role">{{ user.roles }} - {{ user.status }}</p>
        </div>
        <div class="profile-info">
            <p><strong>ID:</strong> {{ user.id }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Phone:</strong> {{ user.phoneNumber }}</p>
            <p><strong>PAN No:</strong> {{ user.panNo }}</p>
            <p><strong>Blood Group:</strong> {{ user.bloodGroup }}</p>
            <p><strong>Privilege:</strong> {{ user.privilege }}</p>
        </div>
        
    </div>

    <ng-template #noUser>
        <div class="no-user">
            <p>User not found. Redirecting...</p>
        </div>
    </ng-template>
</div>
